.events {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 70px;
    padding-bottom: 60px;

    >h1 {
        @include underline-heading;

        &::before {
            width: 190px;
        }
    }

    .events-section {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;

        .no-events {
            width: 100%;
        }

        h2 {
            @include underline-heading;
            font-size: 3rem;

            &::before {
                width: 190px;
            }
        }

        .events-list {
            margin: 30px 0;
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: 1fr 1fr 1fr;

            .event {

                h1 {
                    margin: 10px 0;
                }

                p {
                    max-width: 330px;
                }

                img {
                    object-fit: contain;
                    height: 230px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .events .events-section .events-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 786px) {
    .events .events-section .events-list {
        grid-template-columns: 1fr;
    }

    .events {
        padding: 40px 20px;
    }
}

@media only screen and (max-width: 400px) {

    .events .events-section .events-list .event {
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
        }

        img {
            height: 200px;
        }
    }
}