.results {
    padding: 40px 70px;

    .result {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        h1 {
            @include underline-heading;
            margin-bottom: 30px;

            &::before {
                width: 210px;
            }
        }
    }

    .comming-soon {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        h1 {
            @include underline-heading;
            margin-bottom: 40px;

            &::before {
                width: 550px;
            }
        }

        .countdown {
            display: flex;
            margin-bottom: 20px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0 50px;

                h2 {
                    font-size: 5rem;
                }
            }

        }

        img {
            object-fit: cover;
            height: 300px;
        }
    }
}

@media only screen and(max-width: 710px) {
    .results {
        .comming-soon {
            h1 {
                &::before {
                    display: none;
                }
            }
        }
    }
}

@media only screen and(max-width: 580px) {
    .results {
        padding: 20px 70px;

        .comming-soon {
            .countdown {
                flex-wrap: wrap;

                div {
                    margin: 50px 20px;
                }
            }

            img {
                height: 200px;
            }
        }
    }
}

@media only screen and(max-width: 720px) {
    .youtube-video iframe {
        width: 370px;
        height: 300px;
    }
}

@media only screen and(max-width: 720px) {
    .youtube-video iframe {
        width: 300px;
        height: 200px;
    }
}