.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    background-color: #000;
    animation: fade .7s 1.7s 1 ease-in-out both;

    span {
        color: white;
        text-transform: uppercase;

        &.text1 {
            font-size: 60px;
            font-weight: 700;
            letter-spacing: 8px;
            margin-bottom: 5px;
            background-color: black;
            position: relative;
            font-family: Rancho;
            text-transform: capitalize;
            animation: text 1.5s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &.text2 {
            font-size: 20px;
            color: $pink;
        }
    }
}

@keyframes text {
    0% {
        transform: rotate(45deg) scale(1.5);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes moveUp {
    0% {
        top: 0;
    }

    100% {
        top: -100vh;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        pointer-events: none;
        z-index: -8;
    }
}