@import '../base/colors';
@import '../base/base';
@import '../base/typography';

$icon-size: 30px;

footer.footer {
    margin-top: auto;
    position: relative;
    height: auto;
    width: 100%;
    color: white;

    .container-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 50px 100px;
        height: 100%;
        background-color: #111;

        .sec {
            padding: 20px 0;
        }


        .sec h2 {
            position: relative;
            color: white;
            font-weight: 500;
            margin-bottom: 15px;

            &::before {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 50px;
                height: 2px;
                background-color: $pink;
            }
        }

        .sec.about-us {
            width: 40%;

            p {
                color: #999;
            }

            .sci {
                margin-top: 20px;
                display: flex;

                li {
                    list-style: none;

                    a {
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        background-color: #222;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        text-decoration: none;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: .7s all ease;
                        overflow: hidden;

                        &:hover {
                            transform: translateY(-7px);
                            background-color: $pink;
                        }

                        img {
                            height: $icon-size;
                            width: $icon-size;
                            border-radius: 4px;
                            filter: invert(1);
                        }
                    }
                }
            }
        }

        .quick-links {
            position: relative;
            width: 25%;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;

                li {
                    margin-bottom: 10px;
                    display: inline-block;

                    a {
                        color: #999;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

        .contact {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            width: 200px;
            margin-right: 0;

            h2 {
                margin-bottom: 20px;
            }

            .info {
                position: relative;

                li span svg {
                    height: $icon-size / 2;
                    width: $icon-size / 2;
                    margin: 0 3px;
                }

                li span:nth-child(2) {
                    color: #999;
                    font-size: 13px;

                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 770px) {
    footer.footer .container-footer .sec.about-us {
        padding-bottom: 30px;
        width: 100%;
    }
}

@media only screen and (max-width: 620px) {
    footer.footer .container-footer {
        flex-direction: column;
    }
}