@import '../base/colors';

.navbar {
    top: 0;
    left: 0;
    position: sticky;
    height: 70px;
    width: 100%;
    background-color: $black;
    padding: 0 50px;
    display: flex;
    z-index: 4;

    .logo {
        line-height: 70px;
        height: 60px;
        object-fit: cover;
    }

    .navbar-nav {
        margin-left: auto;

        .nav-ul {
            list-style: none;
            display: flex;
            line-height: 70px;

            .nav-item {
                font-size: 1.6rem;
                padding: 0 10px;
                cursor: pointer;
                transition: .7s background-color ease;

                &:hover {
                    background-color: $pink;
                }

                .nav-link {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        .hamburger {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    .navbar .navbar-nav .nav-ul {
        position: absolute;
        top: 70px;
        left: -50%;
        transform: translateX(-50%);
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: $grey;
        width: 100%;
        text-align: center;
        transition: .8s left ease;
    }

    .hamburger {
        height: 50px;
        width: 50px;
        position: relative;
        top: 50%;
        transform: translateY(-30%);
        cursor: pointer;
    }

    .line {
        height: 3px;
        width: 30px;
        background-color: white;
        margin: 5px 0;
    }

    .navbar {
        padding: 0 30px;

        .navbar-nav .nav-ul .nav-item:hover{
            background-color: $pink;
        }
    }
}