@import './helpers/variables';

// base
@import './base/colors';
@import './base/base';
@import './base/typography';

// components styles
@import './components/buttons';
@import './components/links';
@import './components/inputs';


.container {

    section {
        min-height: 100vh;
        width: 100%;
    }

    // pages
    @import './pages/home';
    @import './pages/contact';
    @import './pages/about';
    @import './pages/events';
    @import './pages/notFound';
}


.error {
    font-size: 1.7rem;
    color: #d63031;
    height: 70vh;
}

.pending {
    font-size: 1.5rem;
    height: 70vh;
}